{
  "extends": "standard",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "no-template-curly-in-string": 0,
    "semi": [1, "never"],
    "space-before-function-paren": [1, "never"]
  }
}
